= form_for(spot) do |f|
  .row
    .large-6.columns
      = f.label "Name"
      = f.text_field :name
    .large-6.columns
      = f.label "Beschreibung"
      = f.text_area :description
  .row
    .large-6.columns
      = f.label "Straße (und Hausnummer)"
      = f.text_field :address
  .row
    .large-6.columns
      = f.label "PLZ"
      = f.text_field :zip
    .large-6.columns
      = f.label "Ort"
      = f.text_field :city
  .row 
    .large-6.columns
      = f.label 'Kapazität'
      = f.text_field :capacity
  .form-actions
    = f.submit 'Speichern', class: 'button radius'
    oder
    = link_to 'zurück', spots_path, class: 'radius button small alert'
