<h1>Spots</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Kapazität</th>
    <th>Ort</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @spots.each do |spot| %>
  <tr>
    <td><%= link_to spot.name, spot %></td>
    <td><%= spot.capacity %></td>
    <td><%= spot.city %></td>
		<% if can? :edit, spot then %>
    	<td><%= link_to 'Bearbeiten', edit_spot_path(spot) %></td>
		<% end %>
		<% if can? :delete, spot then %>
    	<td><%= link_to 'Löschen', spot, method: :delete, data: { confirm: 'Sicher?' } %></td>
		<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neuen Spot eintragen', new_spot_path %>
