%p
%p
  %b Name:
  = spot.name
%p
  %b Beschreibung:
  = spot.description
%p
  = gmaps4rails(@json)
%p
  %b Kapazität:
  = spot.capacity
%p
  %b Adresse:
  = spot.address
  = spot.zip
  = spot.city
= link_to 'Bearbeiten', edit_spot_path(@spot)
|
\#{link_to 'Zurück', spots_path}
