%p
  - if can? :edit, spot
    = link_to 'Bearbeiten', edit_spot_path(spot), class: 'button small'
%p
  %b Name:
  = spot.name
%p
  %b Beschreibung:
  = spot.description
%p
  = gmaps4rails(@json)
%p
  %b Kapazität:
  = spot.capacity
%p
  %b Adresse:
  = spot.address
  = spot.zip
  = spot.city
= link_to 'Zurück zur Übersicht', spots_path, class: 'button small'
