<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @spot.name %>
</p>

<p>
  <b>Beschreibung:</b>
  <%= @spot.description %>
</p>

<p>
  <b>Kapazität:</b>
  <%= @spot.capacity %>
</p>

<p>
  <b>Adresse:</b>
  <%= @spot.address %>
</p>

<p>
  <b>PLZ:</b>
  <%= @spot.zip %>
</p>

<p>
  <b>Ort:</b>
  <%= @spot.city %>
</p>


<%= link_to 'Bearbeiten', edit_spot_path(@spot) %> |
<%= link_to 'Zurück', spots_path %>
