= form_for(artist_profile) do |f|
  .row
    .large-6.columns
      = f.label "Vita"
      = f.text_area :vita
    
  .form-actions
    = f.submit 'Speichern', class: 'button radius'
    oder
    = link_to 'zurück', artist_profiles_path, class: 'radius button small alert'
