= provide(:title, artist_profile.user.name)
%p
  - if can? :edit, artist_profile
    = link_to 'Bearbeiten', edit_artist_profile_path, class: 'button small'
  %p
  %b Vita:
  %p
    = artist_profile.vita
  %p
    - if artist_profile.paintings.any?
      %h5 Bilder (#{artist_profile.paintings.count})
      = render 'paintings/grid', paintings: artist_profile.paintings
    
= link_to 'Zurück zur Übersicht', artist_profiles_path, class: 'button small'
