= form_for(painting) do |f|
  .row
    .large-6.columns
      = f.label "Name"
      = f.text_field :name
    .large-6.columns
      = f.label "Beschreibung"
      = f.text_area :description
  .row
    .large-12.columns
      = f.label "Bilddatei"
      = f.file_field :image
  %p
  .form-actions
    = f.submit 'Speichern', class: 'button radius'
    oder
    = link_to 'zurück', paintings_path, class: 'radius button small alert'
