<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @painting.name %>
</p>

<p>
  <b>Kurzinfo:</b>
  <%= @painting.description %>
</p>


<%= link_to 'Bearbeiten', edit_painting_path(@painting) %> |
<%= link_to 'Zurück', paintings_path %>
