%p
  - if can? :edit, painting
    = link_to 'Bearbeiten', edit_painting_path(@painting), class: 'button small'
  = render 'users/like'
  
%p
  %b 
    = painting.name
  = link_to image_tag(painting.image.gallery.url), painting.image.url, :class => 'fancybox', :remote => true
  %p
  - if painting.liked_by.any?
    %i
      = painting.liked_by.count
      likes
  - else
    %i
      Dieses Bild hat noch keine likes
%p
  %b Kurzinfo:
  = painting.description

