<h1>Listing painting_at_spots</h1>

<table>
  <tr>
    <th>From date</th>
    <th>To date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @painting_at_spots.each do |painting_at_spot| %>
  <tr>
    <td><%= painting_at_spot.from_date %></td>
    <td><%= painting_at_spot.to_date %></td>
    <td><%= link_to 'Show', painting_at_spot %></td>
    <td><%= link_to 'Edit', edit_painting_at_spot_path(painting_at_spot) %></td>
    <td><%= link_to 'Destroy', painting_at_spot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Painting at spot', new_painting_at_spot_path %>
