<p id="notice"><%= notice %></p>

<p>
  <b>Ab:</b>
  <%= @painting_at_spot.from_date %>
</p>

<p>
  <b>Bis:</b>
  <%= @painting_at_spot.to_date %>
</p>


<%= link_to 'Bearbeiten', edit_painting_at_spot_path(@painting_at_spot) %> |
<%= link_to 'Zurück', painting_at_spots_path %>
