<p id="notice"><%= notice %></p>

<p>
  <b>From date:</b>
  <%= @painting_at_spot.from_date %>
</p>

<p>
  <b>To date:</b>
  <%= @painting_at_spot.to_date %>
</p>


<%= link_to 'Edit', edit_painting_at_spot_path(@painting_at_spot) %> |
<%= link_to 'Back', painting_at_spots_path %>
