.row
  .large-12.columns
    %h3 Mitglieder
    %table.large-12
      %thead
        %tr
          %th
          %th Name
          %th Status
      %tbody
        - users.each do |user|
          %tr
            %td= image_tag user.image.thumbnail.url
            %td= link_to user.name, user
            %td 
              - if user.has_role :admin
                Admin
              - elsif not user.artist_profile.nil?
                Künstler
            - if can? :manage, user
              %td
                %a.btn.btn-mini{"data-toggle" => "modal", :href => "#role-options-#{user.id}", :type => "button"} Adminstatus verwalten
                = render user
            - if can? :manage, user then
              %td= link_to("Nutzer löschen", user_path(user), :data => { :confirm => "Sicher?" }, :method => :delete, :class => 'btn btn-mini') unless user == current_user
