%p
  - if can? :edit, user
    = link_to 'Bearbeiten', edit_user_path, class: 'button small'
%h3 
  = user.name
- if not user.image.nil? and user.image.length > 0
  = image_tag user.image.gallery.url

%p
  Email: #{user.email if user.email}
%p 
  Dabei seit #{user.created_at.to_date}
%p 
  - if user.liked_paintings.any?
    %h5 Favoriten (#{user.liked_paintings.count})
    = render 'paintings/grid', paintings: user.liked_paintings