#landing-page
  = image_tag 'landingpage1.jpeg', class: 'landinpage'
  #schlagworte
    %ul.disc
      %li
        %h4
          Die Ausstellung ist überall.
      %li.btn
        %h5 Für Künstler, Kunstinteressierte und Unternehmen
      %li.no-bg
        = link_to 'Jetzt anmelden', new_user_registration_path, class: 'button radius right'
  .divider
  .row
    .large-12.columns{ style: 'line-height: 18px' }
      = image_tag 'team.jpg', class: 'imgleft'
      .half
        %h3
          %a#about
            Über ubique art
        Das Konzept von ubique art wurde im Rahmen der 
        = link_to "Prototyping Week von starterkitchen.de", "http://www.starterkitchen.de/news/prototyping-week"
        weiterentwickelt.
  .row
    .large-12.columns{ style: 'line-height: 18px' }
      .half
        %h3
          %a#for_artists
            Für Künstler
        Hier kommt ein Text mit Vorteilen für Künstler. Bla bla bla Kreativität. Ein Publikum schaffen, Menschen erreichen, mit Kunst etwas bewegen.
    .vdivider
    = image_tag 'team.jpg', class: 'imgright'
  .row
    .large-12.columns{ style: 'line-height: 18px' }
      = image_tag 'team.jpg', class: 'imgleft'
      .half
        %h3
          %a#for_spots
            Für Unternehmen und andere Institutionen
        Hier kommt ein Text mit Vorteilen für spots. Bla bla bla Ausstrahlung. Eine Message senden, Menschen erreichen, mit Kunst etwas bewegen. Kunst fördern, Räume aufhübschen.
  .row
    .large-12.columns{ style: 'line-height: 18px' }
      .half
        %h3
          %a#for_users
            Für Kunstinteressierte
        Hier kommt ein Text mit Möglichkeiten, die ua bietet...
    .vdivider
    = image_tag 'team.jpg', class: 'imgright'