<%= link_to "ubique art", root_path, :class => 'brand' %>
<ul class="nav">
    <li class=padtop>
    <%= link_to 'Artists', artist_profiles_path %>
    </li>
    <li class=padtop>
    <%= link_to 'Spots', spots_path %>
    </li>
    <li class=padtop>
    <%= link_to 'Werke', paintings_path %>
    </li>
    <li class=padtop>
    <%= link_to 'Mitglieder', users_path %>
    </li>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Abmelden', destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Anmelden', new_user_session_path %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Profil', user_registration_path %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'Admin', users_path %>
      </li>
    <% end %>
  <% else %>
    <li>
    <%= link_to 'Registrieren', new_user_registration_path %>
    </li>
  <% end %>
</ul>
