!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Ubique Art"
    %meta{:content => content_for?(:description) ? yield(:description) : "Ubique Art", :name => "description"}/
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "vendor/custom.modernizr"
    = csrf_meta_tags
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    #wrap
      = render 'layouts/navigation'

      #main{:role => "main"}
        -if current_page?(root_path)
          = render '/layouts/messages'
          = yield
        -else
          .row
            .small-12.large-12.columns
              = render '/layouts/messages'
              = yield
    %footer
      Entwickelt mit Unterstützung von starterkitchen.de | #{link_to "Impressum", "/impressum"} | #{link_to "Über ubique art", "/#about"}
      = yield :scripts